imageio
ipython
matplotlib
opencv-python
PyYAML
scikit-learn
scipy
tqdm
torch
numpy
typing
terminaltables
Pillow
torchvision
tensorboardX
onnxruntime
setuptools
timm
easydict
attr
thop
torchsummary
openmim
